<footer>
    <div class="purpose">
        <h1>AutomaticTimetableGenerator</h1>
        <p>The Selection of teachers are according to the algorithm which is used to select random teachers and find the conflicts And according to the conflicts It will generate the time table. The algorithm which is used in this system is Genetics algorithm</p>
    </div>
    <div class="team">
        <h1>Team</h1>
        <ol>
            <li>Daxesh Brambhat</li>
            <li>Harsh Patel</li>
            <li>Jalak Gevariya</li>
            <li>Kenil Prajapati</li>
        </ol>
    </div>
</footer>
<div class="credits">
    <p>&copy;2021 All rights reserved</p>
</div>