{% extends 'templates/constant/main.html' %}

{% block title %} Add Timeslot {% endblock %}

{% block content %}


<div class="splash-secondary">
    <div class="login">
        <h1>Add Timeslot</h1>
        <form method="post">
            {% csrf_token %}
            
            <div class="input-box">
                <label for="UserId">MeetingTime Id</label>
                {{form.pid}}
            </div>

            <div class="input-box">
                <label for="UserId">Time</label>
                {{form.time}}
            </div>

            <div class="input-box">
                <label for="UserId">Day</label>
                {{form.day}}
            </div>
            
            <input type="submit" value="Add" class="button">

        </form>
    </div>
</div>


{% endblock %}