{% extends 'templates/constant/main.html' %}

{% block title %} View Department {% endblock %}

{% block content %}
{% include 'templates/constant/header2.html' %}



<div class="view">
    <div class="back-btn">
        <a href="{% url 'dashboard' %}" class="button2"><i class="fa fa-arrow-left" aria-hidden="true"></i>Dashboard</a>
    </div>

    <h1 style="text-align: center;">Department List</h1>

<center>
    <a href="{% url 'add_department' %}" class="button" style="display: inline-block;text-align: center;">Add</a>
</center>
    <table class="teacher-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
        {% for i in data %}
            <tr>
                <td>{{i.dept_name}}</td>
                <td><a href="{% url 'update_department' i.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                <td><a href="{% url 'delete_department' i.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {% include 'templates/constant/footer2.html' %}
{%endblock %}